.agents/
build/
build-*/
__pycache__/
bindings/python/elips/*.so


PROMPT.md
.DS_Store
**/.DS_Store

env/
.venv/

elips.egg-info/
dist/
*.egg-info/
*.egg

.mypy_cache/
.pytest_cache/
*.log

bindings/python/data/
bindings/python/core_src/
bindings/python/build/
bindings/python/dist/
bindings/python/elips.egg-info/